body {
  background-color: black;
}

#titulo {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
  font-size: 80px;
  text-transform: uppercase;
  color: rgb(143, 28, 28);
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 400%;
  }

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cebola {
  width: 50%;
}
#cinder {
  background-color: black;
  cursor: pointer;
  border: none;
}

.esquerda p {
  color: rgb(143, 28, 28);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 25px;
}

.upgrades h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(143, 28, 28);
  font-size: 50px;
  margin-left: 67px;
}

.upgrades button {
  padding: 15px;
  margin: 15px;
  width: 320px;
  height: 145px;
  border-radius: 5px;
  border: 2px solid rgb(143, 28, 28);
  background-color: rgb(8, 8, 8);
  color: rgb(143, 28, 28);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  font-weight: 400;
}
#upgrade1{
  background-size: 74px 74px;
  background-position: right center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#upgrade2{
  background-size: 74px 74px;
  background-position: right center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#upgrade3{
  background-size: 74px 74px;
  background-position: right center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.upgrades button:hover {
  cursor: pointer;
  color: rgb(236, 35, 35);
  border: 2px solid rgb(184, 238, 255);
}

.upgrades p {
  color: rgb(143, 28, 28);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 25px;
}

#poder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contador {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
